<div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Комментарихо</p>
      <footer class="blockquote-footer"> Ин тарзи маблагсупори ва санчиши пардохтхо бехтарин мебошад.... <cite title="Source Title">Як одами хело машхур</cite></footer>
    </blockquote>
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Комментарихо</p>
      <footer class="blockquote-footer"> Аввалин Web-приложении ман буда, хело хам аз карданаш шодам....<cite title="Source Title">Матробиён Косим Саодатшо </cite></footer>
    </blockquote>
  </div>
