<!-- Footer -->
<footer class="bg-dark text-center text-white mt-4">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
    
        <!-- Google -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
  
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p><h4>
          Ба маьлумоти хамаи истикоматкунандагони бинои Зарафшон-1, М-11 6/2 расонида мешавад ки
          агар ягон хохиш, шикоятхо ва ё ягон хатоги дар сайт мушохида карда бошед, зудтар ва дар вакташ ба
          администратори сайт арз кунед то ин ки хамаи мушкилихоро дар вакташ хал кунем!
        </h4>
        </p>
      </section>
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
         
    
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Администраторы</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Матробиён Косим</a>
              </li>
              <li>
                <a href="#!" class="text-white">Матробиён Саодатшо</a>
              </li>
              <li>
                <a href="#!" class="text-white">Кучакшоева Зайфамо</a>
              </li>
              <li>
                <a href="#!" class="text-white">Матробиён Насим</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Маьлумотхо</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Ахборотхо</a>
              </li>
              <li>
                <a href="#!" class="text-white">Бунёдкунии бинои нав</a>
              </li>
              <li>
                <a href="#!" class="text-white">Часпондани камерахо</a>
              </li>
              <li>
                <a href="#!" class="text-white">ШАНБЕГИХО!</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" href="#">nomisayt.tj</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->