<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header bg-dark" style="color:white ;">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Меню</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-dark justify-content-center" style="color:white ;">
    
    <p><a href="/"> <button type="button" class="btn btn-outline-warning">Главное меню </button> </a></p>
    <p></p><a href="#"> <button type="button" class="btn btn-outline-warning">Контакты</button> </a></p>
    <p></p><a href="#"> <button type="button" class="btn btn-outline-warning">Администрация</button> </a></p>
  </div>
</div>
 
  <a class="navbar-brand" href="#"><h2>Matrobiyon Qosim</h2> </a>
</div>
    
    
</nav>